<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lavenderx.model.mapper.UerMapper">
    <resultMap id="BaseResultMap" type="org.lavenderx.model.entity.UserEntity">
        <id column="id" jdbcType="CHAR" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="birthday" jdbcType="DATE" property="birthday"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
    </resultMap>

    <insert id="createUser" parameterType="org.lavenderx.model.entity.UserEntity" useGeneratedKeys="true">
        INSERT INTO USER(username, password, state, birthday, email)
        VALUES (#${username}, #${password}, #${state}, #${birthday}, #${email})
    </insert>
</mapper>