<?xml version="1.0" encoding="UTF-8"?>
<!-- Doc: http://logback.qos.ch/manual/configuration.html -->
<!-- This config file will be automatically reloaded every minute -->
<configuration scan="true" scanPeriod="60 seconds">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>%d [%thread] %-5level %logger{36} - %msg%n%ex{20}</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./log/out.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./log/%d{yyyy-MM-dd}-out.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d [%thread] %-5level %logger{36} - %msg%n%ex{20}</pattern>
        </encoder>
    </appender>

    <!-- 设置具体某个类的日志级别 -->
    <!--<logger name="className" level="INFO"/>-->

    <root>
        <!-- 定义INFO级别的日志, 分别在FILE文件和控制台输出 -->
        <level value="INFO"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>