<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">


    <!-- 读取配置文件 -->
    <context:property-placeholder
            location="classpath:jdbc-h2.properties"/>

    <context:annotation-config/>
    <!-- 扫描注解, 除去web层注解, web层注解在mvc配置中扫描 -->
    <context:component-scan
            base-package="com.github.dolphineor.model.dao,com.github.dolphineor.mapper,com.github.dolphineor.service">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.RestController"/>
    </context:component-scan>

    <!-- 开启AOP监听, 只对当前配置文件有效 -->
    <aop:aspectj-autoproxy expose-proxy="true" proxy-target-class="true"/>

    <import resource="spring-mvc.xml"/>
    <import resource="spring-mybatis.xml"/>

</beans>